fieldset {
  margin-top: 1rem;
}

fieldset.hidden {
  visibility: hidden;
}

table,
fieldset {
  margin-left: 1rem;
  margin-right: 1rem;
}

table {
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.waiting {
    background-color: hsl(0, 0%, 90%);
}

tr {
  vertical-align: baseline;
}

th {
  font-weight: normal;
  text-align: left;
  color: hsl(0, 0%, 50%);
  border-color: hsl(0, 0%, 50%);
  border-width: 1px;
  border-bottom-style: solid;
}

label {
  width: 6rem;
  padding-right: 1rem;
  text-align: right;
}

th.quantity,
td.quantity {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: right;
}

td.unit {
  text-align: left;
  padding-right: 0.5rem;
}

th.code,
td.code {
  padding-left: 1rem;
  padding-right: 0.5rem;
  text-align: right;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
}

th.description,
td.description,
input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

button {
  min-width: 6rem;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

form[name="item"] button {
  color: hsl(240, 100%, 25%);
  border-color: hsl(240, 100%, 25%);
  background-color: hsl(240, 100%, 90%);
}

form[name="quantity"] button[type="submit"] {
  color: hsl(90, 100%, 25%);
  border-color: hsl(90, 100%, 25%);
  background-color: hsl(90, 100%, 90%);
}

form[name="quantity"] button[type="reset"] {
  color: hsl(30, 100%, 25%);
  border-color: hsl(30, 100%, 25%);
  background-color: hsl(30, 100%, 90%);
}

form[name="item"] button:disabled,
form[name="quantity"] button[type="submit"]:disabled,
form[name="quantity"] button[type="reset"]:disabled {
  background-color: transparent;
}

input[name="description"] {
  color: inherit;
  background-color: transparent;
  border-color: transparent;
}

th.remove {
  font-size: 0.75rem;
  text-align: center;
}

th.remove,
td.remove  {
  padding-left: 1rem;
  padding-right: 0.5rem;
}

td button {
  min-width: auto;
  margin-left: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: hsl(15, 100%, 60%); /* red-ish */
  border-color: hsl(15, 100%, 60%); /* red-ish */
  background-color: hsl(15, 100%, 95%); /* light red-ish */
}
